:root {
    --primary-black: #000000;
    --dark-red: #780000;
    --strong-red: #C1121F;
    --light-grayish-orange: #FDF0D5;
    --very-dark-blue: #003049;
    --slightly-destured-blue: #669BBC;

    --primary-font: 'Inria Serif'
}